üìñ Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ : Do it! Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏùÑ ÏúÑÌïú ÌåêÎã§Ïä§ ÏûÖÎ¨∏

# ÎàÑÎùΩÍ∞í Ï≤òÎ¶¨ÌïòÍ∏∞

In [1]:
from numpy import NaN, NAN, nan

- ÎàÑÎùΩÍ∞íÏùÄ 0, ''ÏôÄ Îã§Î•∏ Í∞úÎÖê
- ÎàÑÎùΩÍ∞íÏùÄ Îßê Í∑∏ÎåÄÎ°ú Îç∞Ïù¥ÌÑ∞ ÏûêÏ≤¥Í∞Ä ÏóÜÏùå

In [2]:
print(NaN == True)
print(NaN == False)
print(NaN == 0)
print(NaN == '')
print(NaN == NaN)

False
False
False
False
False

## isnull()

In [3]:
import pandas as pd 

print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))

True
True
True

In [4]:
print(pd.isnull(42))

False

## count() : ÎàÑÎùΩÍ∞íÏù¥ ÏïÑÎãå Í∞úÏàò

In [5]:
ebola = pd.read_csv('data/country_timeseries.csv')

In [6]:
ebola.count()

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [7]:
ebola.shape

(122, 18)

In [8]:
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [9]:
ebola.isnull().sum()

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

## ÎàÑÎùΩÍ∞í Ï≤òÎ¶¨ÌïòÍ∏∞

- fillna() : Ï≤òÎ¶¨Ìï¥Ïïº ÌïòÎäî df ÌÅ¨Í∏∞Í∞Ä Îß§Ïö∞ ÌÅ¨Í≥† Î©îÎ™®Î¶¨Î•º Ìö®Ïú®Ï†ÅÏúºÎ°ú ÏÇ¨Ïö©Ìï¥ÏïºÌïòÎäî Í≤ΩÏö∞Ïóê ÏûêÏ£º Ïì∞ÏûÑ

In [10]:
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(ebola.fillna(0))

           Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0      1/5/2015  289        2776.0            0.0            10030.0
1      1/4/2015  288        2775.0            0.0             9780.0
2      1/3/2015  287        2769.0         8166.0             9722.0
3      1/2/2015  286           0.0         8157.0                0.0
4    12/31/2014  284        2730.0         8115.0             9633.0
..          ...  ...           ...            ...                ...
117   3/27/2014    5         103.0            8.0                6.0
118   3/26/2014    4          86.0            0.0                0.0
119   3/25/2014    3          86.0            0.0                0.0
120   3/24/2014    2          86.0            0.0                0.0
121   3/22/2014    0          49.0            0.0                0.0

     Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  \
0              0.0            0.0                 0.0          0.0
1              0.0            0.0                 0.0          0.0
2              0.0            0.0                 0.0          0.0
3              0.0            0.0                 0.0          0.0
4              0.0            0.0                 0.0          0.0
..             ...            ...                 ...          ...
117            0.0            0.0                 0.0          0.0
118            0.0            0.0                 0.0          0.0
119            0.0            0.0                 0.0          0.0
120            0.0            0.0                 0.0          0.0
121            0.0            0.0                 0.0          0.0

     Cases_Mali  Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  \
0           0.0         1786.0             0.0              2977.0
1           0.0         1781.0             0.0              2943.0
2           0.0         1767.0          3496.0              2915.0
3           0.0            0.0          3496.0                 0.0
4           0.0         1739.0          3471.0              2827.0
..          ...            ...             ...                 ...
117         0.0           66.0             6.0                 5.0
118         0.0           62.0             0.0                 0.0
119         0.0           60.0             0.0                 0.0
120         0.0           59.0             0.0                 0.0
121         0.0           29.0             0.0                 0.0

     Deaths_Nigeria  Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  \
0               0.0             0.0                  0.0           0.0
1               0.0             0.0                  0.0           0.0
2               0.0             0.0                  0.0           0.0
3               0.0             0.0                  0.0           0.0
4               0.0             0.0                  0.0           0.0
..              ...             ...                  ...           ...
117             0.0             0.0                  0.0           0.0
118             0.0             0.0                  0.0           0.0
119             0.0             0.0                  0.0           0.0
120             0.0             0.0                  0.0           0.0
121             0.0             0.0                  0.0           0.0

     Deaths_Mali
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
..           ...
117          0.0
118          0.0
119          0.0
120          0.0
121          0.0

[122 rows x 18 columns]

- method='ffill' : ÎàÑÎùΩÍ∞íÏù¥ ÎÇòÌÉÄÎÇòÍ∏∞ Ï†ÑÏùò Í∞íÏúºÎ°ú ÎàÑÎùΩÍ∞íÏù¥ Î≥ÄÍ≤Ω

In [12]:
ebola.iloc[0:10, 0:5]

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            NaN             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            NaN             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [13]:
print(ebola.fillna(method="ffill").iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

- method='bfill' : ÎàÑÎùΩÍ∞íÏù¥ ÎÇòÌÉÄÎÇú Ïù¥ÌõÑÏùò Ï≤´ Î≤àÏß∏ Í∞íÏúºÎ°ú ÎàÑÎùΩÍ∞íÏù¥ Î≥ÄÍ≤Ω

In [14]:
ebola.iloc[0:10, 0:5]

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            NaN             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            NaN             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [15]:
print(ebola.fillna(method="bfill").iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

- interpolate() : ÎàÑÎùΩÍ∞í ÏñëÏ™ΩÏóê ÏûàÎäî Í∞íÏùÑ Ïù¥Ïö©Ìï¥ Ï§ëÍ∞ÑÍ∞íÏùÑ Íµ¨ÌïúÌõÑ Ïù¥Î•º ÌÜµÌï¥ ÎàÑÎùΩÍ∞íÏùÑ Ï≤òÎ¶¨

In [16]:
ebola.iloc[0:10, 0:5]

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            NaN             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            NaN             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [17]:
print(ebola.interpolate().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

- ÎàÑÎùΩÍ∞í ÏÇ≠Ï†ú

In [18]:
print(ebola.shape)

(122, 18)

In [19]:
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)

(1, 18)

- ÎàÑÎùΩÍ∞í ÏÇ≠Ï†úÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä ÎÑàÎ¨¥ Ìé∏Ìñ•ÎêòÍ±∞ÎÇò Í∞úÏàòÍ∞Ä ÎÑàÎ¨¥ Ï†ÅÏñ¥Ïßà Ïàò ÏûàÏúºÎØÄÎ°ú Î∂ÑÏÑùÍ∞ÄÍ∞Ä Ïûò ÌåêÎã®Ìï¥Ïïº Ìï®