ğŸ“– ì°¸ê³ , ë°ì´í„° : Do it! ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ íŒë‹¤ìŠ¤ ì…ë¬¸

# ëˆ„ë½ê°’ ì²˜ë¦¬í•˜ê¸°

In [1]:
from numpy import NaN, NAN, nan

- ëˆ„ë½ê°’ì€ 0, ''ì™€ ë‹¤ë¥¸ ê°œë…
- ëˆ„ë½ê°’ì€ ë§ ê·¸ëŒ€ë¡œ ë°ì´í„° ìì²´ê°€ ì—†ìŒ

In [2]:
print(NaN == True)
print(NaN == False)
print(NaN == 0)
print(NaN == '')
print(NaN == NaN)

False
False
False
False
False

## isnull()

In [3]:
import pandas as pd 

print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))

True
True
True

In [4]:
print(pd.notnull(42))

True

## count()

In [5]:
ebola = pd.read_csv('data/country_timeseries.csv')

In [6]:
print(ebola.count())

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [7]:
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count() 
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [8]:
ebola.isnull().sum()

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

## ëˆ„ë½ê°’ ì²˜ë¦¬í•˜ê¸°

- fillna() : ì²˜ë¦¬í•´ì•¼ í•˜ëŠ” df í¬ê¸°ê°€ ë§¤ìš° í¬ê³  ë©”ëª¨ë¦¬ë¥¼ íš¨ìœ¨ì ìœ¼ë¡œ ì‚¬ìš©í•´ì•¼í•˜ëŠ” ê²½ìš°ì— ìì£¼ ì“°ì„

In [9]:
print(ebola.fillna(0).iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

- method='ffill' : ëˆ„ë½ê°’ì´ ë‚˜íƒ€ë‚˜ê¸° ì „ì˜ ê°’ìœ¼ë¡œ ëˆ„ë½ê°’ì´ ë³€ê²½

In [10]:
print(ebola.fillna(method='ffill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

- method='bfill' : ëˆ„ë½ê°’ì´ ë‚˜íƒ€ë‚œ ì´í›„ì˜ ì²« ë²ˆì§¸ ê°’ìœ¼ë¡œ ëˆ„ë½ê°’ì´ ë³€ê²½

In [11]:
print(ebola.fillna(method='bfill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

- interpolate() : ëˆ„ë½ê°’ ì–‘ìª½ì— ìˆëŠ” ê°’ì„ ì´ìš©í•´ ì¤‘ê°„ê°’ì„ êµ¬í•œí›„ ì´ë¥¼ í†µí•´ ëˆ„ë½ê°’ì„ ì²˜ë¦¬

In [12]:
print(ebola.interpolate().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

- ëˆ„ë½ê°’ ì‚­ì œ

In [13]:
print(ebola.shape)

(122, 18)

In [14]:
ebola_dropna = ebola.dropna() 
print(ebola_dropna.shape)

(1, 18)

- ëˆ„ë½ê°’ ì‚­ì œëŠ” ë°ì´í„°ê°€ ë„ˆë¬´ í¸í–¥ë˜ê±°ë‚˜ ê°œìˆ˜ê°€ ë„ˆë¬´ ì ì–´ì§ˆ ìˆ˜ ìˆìœ¼ë¯€ë¡œ ë¶„ì„ê°€ê°€ ì˜ íŒë‹¨í•´ì•¼ í•¨