ğŸ“– ì°¸ê³ , ë°ì´í„° : Do it! ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ íŒë‹¤ìŠ¤ ì…ë¬¸

# íŒë‹¤ìŠ¤ ë°ì´í„°í”„ë ˆì„ê³¼ ì‹œë¦¬ì¦ˆ

# 1. ë°ì´í„° ë§Œë“¤ê¸°

In [1]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s = pd.Series(['Ahyeon', 24], index = ["Name","Age"]) 
print(s)

Name    Ahyeon
Age         24
dtype: object

In [3]:
people = pd.DataFrame({
    "Name": ['ahyeon','gahyeon'],
    "Age": [24,22],
    "Born": ["1998-05-08", "2000-07-24"],
    "like": ["baseball","soccer"]
})

In [4]:
people

      Name  Age        Born      like
0   ahyeon   24  1998-05-08  baseball
1  gahyeon   22  2000-07-24    soccer

In [5]:
scientists = pd.DataFrame( 
    data = {'Occupation':['Chemist','Statistician'],
           'Born':["1920-07-25",'1876-06-13'],
           'Age':[37,61],
           'Died':["1958-04-16",'1937-10-16']},
    index = ['Rosaline Fraklin','William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)

                    Occupation        Born  Age        Died
Rosaline Fraklin       Chemist  1920-07-25   37  1958-04-16
William Gosset    Statistician  1876-06-13   61  1937-10-16

In [6]:
# ë”•ì…”ë„ˆë¦¬ëŠ” ìˆœì„œ ë³´ì¥x
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
])
) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 2. ì‹œë¦¬ì¦ˆ

In [7]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [8]:
first_row = scientists.loc['William Gosset']
print(type(first_row)) # Ageì˜ ìë£Œí˜• ë¬´ì‹œë¨, ì„¸ë¡œë¡œ ë‚˜íƒ€ë‚˜ì§€ê¸° ë•Œë¬¸ì— Series

<class 'pandas.core.series.Series'>

In [9]:
first_row.index

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [10]:
first_row.values

array(['Statistician', '1876-06-13', 61, '1937-10-16'], dtype=object)

In [11]:
first_row.keys() # ì†ì„±ì´ ì•„ë‹ˆë¼ ë©”ì†Œë“œ

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [12]:
first_row.index[0]

'Occupation'

In [13]:
first_row.keys()[0]

'Occupation'

In [14]:
# Ageì˜ í‰ê· ì„ êµ¬í•˜ì‹œì˜¤
scientists['Age'].mean()

49.0

## ë¶ˆë¦° ì¶”ì¶œ

In [15]:
scientists = pd.read_csv('data/scientists.csv')

In [16]:
ages = scientists['Age']
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [17]:
ages.mean()

59.125

In [18]:
ages[ages > ages.mean()] # í‰ê·  ë‚˜ì´ë³´ë‹¤ í° ê²ƒë§Œ

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [19]:
ages > ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [20]:
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

## ì‹œë¦¬ì¦ˆì™€ ë¸Œë¡œë“œìºìŠ¤íŒ…

In [21]:
ages + pd.Series([1, 101]) # NaNì€ ëˆ„ë½ê°’ì„

0     38.0
1    162.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

## Sort

In [22]:
ages.sort_index(ascending=False) # ë°ì´í„°ì˜ ì—­ìˆœì´ ì•„ë‹ˆë¼ ì¸ë±ìŠ¤ì˜ ì—­ìˆœì„

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [23]:
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [24]:
rev_ages = ages.sort_index(ascending=False)

ages + rev_ages # ì¼ì¹˜í•˜ëŠ” ì¸ë±ìŠ¤ë¼ë¦¬ ì—°ì‚°

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 3. ë°ì´í„°í”„ë ˆì„

In [25]:
scientists[scientists['Age'] > scientists['Age'].mean()]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [26]:
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 3. ë°ì´í„° ì²˜ë¦¬í•˜ê¸°

In [27]:
print(scientists['Born'].dtype)
print(type(scientists['Died']))
print(scientists['Died'].dtype)

object
<class 'pandas.core.series.Series'>
object

## to_datetime ì´ìš©í•´ì„œ datetimeí˜•ìœ¼ë¡œ ë°”ê¾¸ê¸°
- pd.to_date(data, format=í˜•ì‹)

In [28]:
born_datetime = pd.to_datetime(scientists['Born'], format="%Y-%m-%d")
born_datetime

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [29]:
died_datetime = pd.to_datetime(scientists['Died'], format="%Y-%m-%d")
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [30]:
scientists['born_dt'], scientists['died_dt'] = born_datetime, died_datetime
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [31]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt']) # datetimeì€ ê³„ì‚° ê°€ëŠ¥
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [32]:
print(scientists.columns) # ì—´ ì¶”ì¶œ

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [33]:
scientists_dropped = scientists.drop(['Age'], axis=1) # ì—´ ì§€ìš¸ ë•Œ

print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 4. ë°ì´í„° ì €ì¥í•˜ê³  ë¶ˆëŸ¬ì˜¤ê¸°

- í”¼í´ : ë°ì´í„°ë¥¼ ë°”ì´ë„ˆë¦¬ í˜•íƒœë¡œ ì§ë ¬í™”í•œ ì˜¤ë¸Œì íŠ¸ë¥¼ ì €ì¥í•˜ëŠ” ë°©ë²•ìœ¼ë¡œ ìŠ¤í”„ë ˆë“œì‹œíŠ¸ë³´ë‹¤ ë” ì‘ì€ ìš©ëŸ‰ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì €ì¥í•  ìˆ˜ ìˆì–´ ë§¤ìš° í¸ë¦¬

In [34]:
names = scientists['Name']
names.to_pickle('output/scientists_names_series.pickle')

In [35]:
scientists.to_pickle('output/scientists_df.pickle')

In [36]:
scientist_names_from_pickle = pd.read_pickle('output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [37]:
scientists_from_pickle = pd.read_pickle('output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

## CSV íŒŒì¼ê³¼ TSV íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°

In [38]:
names.to_csv('output/scientist_names_series.csv') # csvë¡œ ì €ì¥

In [39]:
scientists.to_csv('output/scientists_df.tsv', sep='\t') # tabìœ¼ë¡œ

In [40]:
scientists.to_csv('output/scientists_df_no_index.csv', index=False) # index ì €ì¥ ì•ˆí•¨

In [41]:
scientists.to_csv('output/scientists_df_index.csv')

In [42]:
names_df = names.to_frame() # ì‹œë¦¬ì¦ˆëŠ” ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í›„ì— ì—‘ì…€ë¡œ ì €ì¥ ê°€ëŠ¥

import xlwt 
names_df.to_excel('output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('output/scientists_names_series_df.xlsx')

In [43]:
# pip install xlwt
# pip install openpyxl