üìñ Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ : Do it! Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏùÑ ÏúÑÌïú ÌåêÎã§Ïä§ ÏûÖÎ¨∏

# ÌåêÎã§Ïä§ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÍ≥º ÏãúÎ¶¨Ï¶à

# 1. Îç∞Ïù¥ÌÑ∞ ÎßåÎì§Í∏∞

In [1]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s = pd.Series(['Ahyeon', 24], index=["Name", "Age"])
print(s)

Name    Ahyeon
Age         24
dtype: object

In [5]:
people = pd.DataFrame({
    "Name" : ['ahhyeon', 'gahyeon'],
    "Age" : [24,22],
    "Born" : ["1998-05-08","2000-07-24"],
    "like" : ["baseball", "soccor"]
})

In [4]:
people

      Name  Age        Born      like
0   ahyeon   24  1998-05-08  baseball
1  gahyeon   22  2000-07-24    soccer

In [5]:
scientists = pd.DataFrame( 
    data = {'Occupation': ['chemist','Statistician'],
            'Age':[37,61],
            'died':['1920-07-25','1876-06-13'],
    index=['Rosaline Franklin','William Gosset']
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [6]:
# ÎîïÏÖîÎÑàÎ¶¨Îäî ÏàúÏÑú Î≥¥Ïû•x
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
])
) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 2. ÏãúÎ¶¨Ï¶à

In [22]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [23]:
first_row = scientists.loc['William Gosset']
print(type(first_row)) # AgeÏùò ÏûêÎ£åÌòï Î¨¥ÏãúÎê®, ÏÑ∏Î°úÎ°ú ÎÇòÌÉÄÎÇòÏßÄÍ∏∞ ÎïåÎ¨∏Ïóê Series

<class 'pandas.core.series.Series'>

In [24]:
first_row.index

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [25]:
first_row.values

array(['Statistician', '1876-06-13', 61, '1937-10-16'], dtype=object)

In [26]:
first_row.keys() # ÏÜçÏÑ±Ïù¥ ÏïÑÎãàÎùº Î©îÏÜåÎìú

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [27]:
first_row.index[0]

'Occupation'

In [28]:
first_row.keys()[0]

'Occupation'

In [29]:
# AgeÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏãú
scientists['Age'].mean()

49.0

## Î∂àÎ¶∞ Ï∂îÏ∂ú

In [30]:
scientists = pd.read_csv('data/scientists.csv')

In [31]:
ages = scientists['Age']
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [62]:
ages.mean()

59.125

In [63]:
ages[ages > ages.mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [64]:
ages > ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [65]:
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

## ÏãúÎ¶¨Ï¶àÏôÄ Î∏åÎ°úÎìúÏ∫êÏä§ÌåÖ

In [66]:
ages + pd.Series([1, 101]) # NaNÏùÄ ÎàÑÎùΩÍ∞íÏûÑ

0     38.0
1    162.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

## Sort

In [67]:
ages.sort_index(ascending=False) # Îç∞Ïù¥ÌÑ∞Ïùò Ïó≠ÏàúÏù¥ ÏïÑÎãàÎùº Ïù∏Îç±Ïä§Ïùò Ïó≠ÏàúÏûÑ

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [68]:
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [69]:
rev_ages = ages.sort_index(ascending=False)

ages + rev_ages # ÏùºÏπòÌïòÎäî Ïù∏Îç±Ïä§ÎÅºÎ¶¨ Ïó∞ÏÇ∞

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 3. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ

In [70]:
scientists[scientists['Age'] > scientists['Age'].mean()]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [71]:
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 3. Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨ÌïòÍ∏∞

In [72]:
print(scientists['Born'].dtype)
print(type(scientists['Died']))
print(scientists['Died'].dtype)

object
<class 'pandas.core.series.Series'>
object

## to_datetime Ïù¥Ïö©Ìï¥ÏÑú datetimeÌòïÏúºÎ°ú Î∞îÍæ∏Í∏∞
- pd.to_date(data, format=ÌòïÏãù)

In [75]:
born_datetime = pd.to_date(scientists["Born"], format="%yy-%mm-%dd")
print(born_datetime)

AttributeError: module 'pandas' has no attribute 'to_date'

In [76]:
died_datetime = pd.to_datetime(scientists['Died'], format="%y-%m-%d")
print(died_date)

ValueError: time data '1958-04-16' does not match format '%y-%m-%d' (match)

In [77]:
scientists['born_dt'], scientists['died_dt'] = born_datetime, died_datetime
print(scientists.head())

NameError: name 'born_datetime' is not defined

In [55]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

KeyError: 'died_dt'

In [56]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [57]:
scientists_dropped = scientists.drop(['Age'], )

print(scientists_dropped.columns)

KeyError: "['Age'] not found in axis"

# 4. Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•ÌïòÍ≥† Î∂àÎü¨Ïò§Í∏∞

- ÌîºÌÅ¥ : Îç∞Ïù¥ÌÑ∞Î•º Î∞îÏù¥ÎÑàÎ¶¨ ÌòïÌÉúÎ°ú ÏßÅÎ†¨ÌôîÌïú Ïò§Î∏åÏ†ùÌä∏Î•º Ï†ÄÏû•ÌïòÎäî Î∞©Î≤ïÏúºÎ°ú Ïä§ÌîÑÎ†àÎìúÏãúÌä∏Î≥¥Îã§ Îçî ÏûëÏùÄ Ïö©ÎüâÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï†ÄÏû•Ìï† Ïàò ÏûàÏñ¥ Îß§Ïö∞ Ìé∏Î¶¨

In [58]:
names = scientists['Name']
names.to_pickle('output/scientists_names_series.pickle')

FileNotFoundError: [Errno 2] No such file or directory: 'output/scientists_names_series.pickle'

In [59]:
scientists.to_pickle('output/scientists_df.pickle')

FileNotFoundError: [Errno 2] No such file or directory: 'output/scientists_df.pickle'

In [60]:
scientist_names_from_pickle = pd.read_pickle('output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

FileNotFoundError: [Errno 2] No such file or directory: 'output/scientists_names_series.pickle'

In [37]:
scientists_from_pickle = pd.read_pickle('output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

## CSV ÌååÏùºÍ≥º TSV ÌååÏùºÎ°ú Ï†ÄÏû•ÌïòÍ∏∞

In [38]:
names.to_csv('output/scientist_names_series.csv')

In [39]:
scientists.to_csv('output/scientists_df.tsv', sep='\t')

In [40]:
scientists.to_csv('output/scientists_df_no_index.csv', index=False)

In [41]:
scientists.to_csv('output/scientists_df_index.csv')

In [42]:
names_df = names.to_frame() # ÏãúÎ¶¨Ï¶àÎäî Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôòÌõÑÏóê ÏóëÏÖÄÎ°ú Ï†ÄÏû• Í∞ÄÎä•

import xlwt 
names_df.to_excel('output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('output/scientists_names_series_df.xlsx')

In [43]:
# pip install xlwt
# pip install openpyxl