# apply

- 사용자가 작성한 함수를 한 번에 데이터프레임의 각 행과 열에 적용하여 실행할 수 있게 해주는 메소드
- 대용량의 데이터를 처리할 때는 for문보다 빠름

## 제곱 함수와 n 제곱 함수 만들기

In [1]:
def my_sq(n):
    return n ** 2

In [2]:
def my_exp(x,n):
    return x ** n

## apply 적용

In [3]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]})

df

    a   b
0  10  20
1  20  30
2  30  40

- df['a']의 값이 첫 번째 인자로 넘어감

In [4]:
sq = df['a'].apply(my_sq)
sq

0    100
1    400
2    900
Name: a, dtype: int64

In [5]:
ex = df['a'].apply(my_exp, n=2)
ex

0    100
1    400
2    900
Name: a, dtype: int64

In [6]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [7]:
#print(df.apply(avg_3))

In [8]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [9]:
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

In [10]:
print(df.apply(avg_2_apply, axis = 1)) #1=행, 0=열

0    15.0
1    25.0
2    35.0
dtype: float64

In [11]:
df

    a   b
0  10  20
1  20  30
2  30  40