ğŸ“– ì°¸ê³ , ë°ì´í„° : Do it! ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ íŒë‹¤ìŠ¤ ì…ë¬¸

# ë°ì´í„° ì—°ê²°í•˜ê¸°

### concat()ìœ¼ë¡œ ì—°ê²°í•˜ê¸°

In [1]:
import pandas as pd

- concat()ì€ ë°ì´í„°í”„ë ˆì„ì„ ì—°ê²°í•  ë•Œ ìœ„ì—ì„œ ì•„ë˜ ë°©í–¥ìœ¼ë¡œ ì—°ê²°í•¨

In [2]:
df1 = pd.read_csv('data/concat_1.csv') 
df2 = pd.read_csv('data/concat_2.csv') 
df3 = pd.read_csv('data/concat_3.csv')

In [3]:
df1.head()

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [4]:
df2.head()

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [5]:
df3.head()

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

### ë°ì´í„°í”„ë ˆì„ì— ì‹œë¦¬ì¦ˆ ì—°ê²°í•˜ê¸°

- NaN : ëˆ„ë½ê°’

- ì‹œë¦¬ì¦ˆë¥¼ ë°ì´í„°í”„ë ˆì„ì˜ ìƒˆë¡œìš´ í–‰ìœ¼ë¡œ ì—°ê²°í•˜ë ¤ë©´ ì—´ ì´ë¦„ì´ í•„ìš”í•¨

- concat()ì€ í•œ ë²ˆì— 2ê°œ ì´ìƒì˜ ë°ì´í„°í”„ë ˆì„ì„ ì—°ê²°í•  ìˆ˜ ìˆëŠ” ë©”ì„œë“œ
- ì—°ê²°í•œ ë°ì´í„°í”„ë ˆì„ì´ 1ê°œë¼ë©´ append ë©”ì„œë“œ ì‚¬ìš© o

### ë‹¤ì–‘í•œ ë°©ë²•ìœ¼ë¡œ ë°ì´í„° ì—°ê²°í•˜ê¸°

- ë³´í†µ ë§ì´ ì“°ëŠ” ë°©ë²•

# merge() ì‚¬ìš©í•˜ê¸°

- merge() : ê¸°ë³¸ì ìœ¼ë¡œ ë‚´ë¶€ ì¡°ì¸(ë‘˜ ì´ìƒì˜ dfì—ì„œ ì¡°ê±´ì— ë§ëŠ” í–‰ì„ ì—°ê²°í•˜ëŠ” ê²ƒ)